body {
    background-color: $dark-blue-2;
    color: $white;
    // font-family: $font-body;
    padding:0px;
    margin:0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:$white;
}
p{
    font-family: $font-body;
    font-weight: 400;
}