//Hero section
.hero-section{
    background-color: $dark-blue-1;
    background-image: url("/Assets/img/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    // background-position-y: 121%;
    background-size: contain;
    padding: $pad-lg;
    // padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    @media screen and (max-width:1024px){
        padding: $pad-mid;
    }
    @media screen and (max-width:768px){
        padding: $pad-mid;
        .hero-text{
            padding-top:10px;
        }
    }
    @media screen and (max-width:375px),(max-width:425px){
        background-image: url("/Assets/img/bg-curvy-mobile.svg") !important;
    }
    h1{
        font-size: 2.468rem;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    p{
        padding: 0px 50px;
        font-size: 20px;
        @media screen and (max-width:375px),(max-width:425px){
            font-size: 14px;
            padding: 0px 4px;
            line-height: 1.45;
            margin-top:0px;
        }
    }
    // div{
    //     width: 60%;
    // }
}
button {
    border-radius: 25px;
    background: linear-gradient(50deg, $accent-cyan, $accent-blue);
    border: none;
    font-family: $font-heading;
    color: $white;
    // height: 3rem;
    font-weight: 700;
    width: 280px;
    max-width:280px;
    // height: 46px;
    // max-height: 46px;
    outline: none;
    cursor: pointer;
}
.btn{
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 18px 0px;
    margin-top: 14px;
    @media screen and (max-width:375px),(max-width:425px){
        width: 80%;
        padding: 16px 0px;

    }
}
