body {
  background-color: #181f2a;
  color: white;
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.margin-top {
  margin-top: 55px;
}

.margin-left {
  margin-left: 56px;
}

section {
  padding: 72px 80px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  section {
    padding: 40px 32px !important;
  }
}

.hero-section img,
.productive img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .hero-section img,
  .productive img {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .hero-section img,
  .productive img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
}

h1 {
  font-size: 1.7rem;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  h1 {
    font-size: 24px !important;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 24px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  h3 {
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

header {
  padding: 72px 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1c2431;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  header {
    padding: 40px 32px !important;
  }
  header img {
    max-width: 100px;
  }
}

@media screen and (max-width: 374px) {
  header {
    padding: 32px 24px !important;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .top-logo {
    margin: auto !important;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .menu {
    display: -webkit-box !important;
  }
}

.menu li {
  padding-left: 58px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .menu li {
    padding: 5px !important;
  }
}

.menu a {
  font-family: "Raleway", sans-serif;
}

.hero-section {
  background-color: #1c2431;
  background-image: url("/Assets/img/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: 121%;
  background-size: contain;
  padding: 72px 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .hero-section {
    padding: 72px 80px;
  }
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .hero-section {
    background-image: url("/Assets/img/bg-curvy-mobile.svg") !important;
  }
}

.hero-section h1 {
  font-size: 2.468rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.hero-section p {
  padding: 0px 50px;
  font-size: 20px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .hero-section p {
    padding: 0px;
  }
}

button {
  border-radius: 25px;
  background: linear-gradient(50deg, #65e2d9, #339ecc);
  border: none;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
  width: 280px;
  max-width: 280px;
  outline: none;
  cursor: pointer;
}

.btn {
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 18px 0px;
  margin-top: 14px;
}

.bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bullets p {
  font-size: 16px;
}

.single-bullet {
  width: 33.33%;
  text-align: center;
  padding: 26px 52px 62px 37px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .single-bullet {
    width: auto;
    padding: 0px;
  }
}

.single-bullet p {
  font-size: 14px;
  line-height: 1.5;
  padding: 0px 42px;
  margin-top: 0px;
}

.bullet-text {
  padding-top: 4px;
  font-size: 19px;
  letter-spacing: 0.8px;
  margin-bottom: 0px;
  line-height: 1.3;
}

.productivity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 105px;
}

@media screen and (max-width: 375px), (max-width: 425px), (max-width: 768px) {
  .productivity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productivity img {
    width: 100%;
  }
}

.productivity-text {
  padding-left: 58px;
  padding-top: 0px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .productivity-text {
    padding: 0px;
  }
}

.productivity-link {
  border-bottom: 1px solid #65e2d9;
  color: #65e2d9;
}

.productivity-link img {
  vertical-align: middle;
}

@media screen and (max-width: 375px), (max-width: 425px), (max-width: 768px) {
  .productivity-link img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 160px 140px;
}

.testimonials h4, .testimonials p {
  margin: 0px;
  letter-spacing: 0px;
  line-height: 1.5;
  font-size: 14px;
}

@media screen and (max-width: 375px), (max-width: 425px), (max-width: 768px) {
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.single-testimonial {
  width: 33.33%;
  background-color: #202a3c;
  max-height: 200px;
  max-width: 360px;
  padding: 40px 24px;
  border-radius: 5px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .single-testimonial {
    width: auto;
    margin: 8px auto;
  }
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .single-testimonial {
    width: auto;
    margin-left: 0px;
    margin-bottom: 16px;
  }
}

.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.profile-img-container {
  margin: auto 0px;
}

.profile-picture {
  border-radius: 50%;
  width: 26px;
}

.profile-text {
  margin-left: 16px;
}

.profile-text p {
  padding: 0px;
}

.quotes {
  position: absolute;
  top: 0px;
  -webkit-transform: translate(-60%, -70%);
          transform: translate(-60%, -70%);
  z-index: -1;
}

.subscribe {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-text {
  padding: 0px 48px;
}

.subscribe-text h2 {
  font-size: 32px;
  margin-top: 16px;
  letter-spacing: 1px;
}

.subscribe-text p {
  font-size: 14px;
  line-height: 1.3;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .subscribe-text {
    padding: 0px 32px;
  }
  .subscribe-text h2 {
    font-size: 16px;
  }
  .subscribe-text p {
    font-size: 12px;
  }
}

.container {
  position: absolute;
  top: 50px;
  max-width: 748px;
  width: 66.66%;
  min-width: 300px;
  padding: 0px 56px 36px;
  background-color: #1c2431;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .container {
    max-width: 70%;
    padding: 0px;
    top: 20px;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 26px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
}

input {
  width: 60%;
  max-width: 600px;
  height: 48px;
  padding-left: 32px;
  border: none;
  border-radius: 25px;
  background-color: white;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  input {
    width: auto;
  }
}

.get-btn {
  width: 27%;
  max-width: 250px;
  margin-left: 28px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .get-btn {
    max-width: 100%;
    width: auto;
    min-width: 100%;
    margin-top: 16px;
    margin-left: 0;
  }
}

@media screen and (max-width: 375px), (max-width: 425px) {
  footer {
    padding-top: 300px;
    background-color: #0b1523;
  }
}

.footer-info {
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
  padding: 240px 64px 16px;
  background-color: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-info > div {
  padding: 0px 56px;
}

@media screen and (max-width: 768px) {
  .footer-info > div {
    padding: 16px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer-info * {
    padding-left: 0px !important;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-info * {
    padding-left: 0px !important;
  }
}

.footer-logo {
  position: absolute;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

.footer-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding-top: 12px !important;
  padding-right: 0px !important;
}

.footer-location p {
  padding-top: 0px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .footer-location {
    width: 80%;
    padding-left: 0px !important;
  }
}

.footer-contact {
  padding-top: 12px !important;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .footer-contact {
    margin-left: 0px;
    padding-left: 0px !important;
  }
}

.footer-phone, .footer-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -16px !important;
}

.footer-phone div, .footer-mail div {
  margin: auto 16px;
}

.footer-phone p, .footer-mail p {
  padding: 0px;
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .footer-phone, .footer-mail {
    margin-left: 0px;
    padding-left: 0px !important;
  }
  .footer-phone div, .footer-mail div {
    margin-left: 0px;
    margin-right: 16px;
  }
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px !important;
  padding-right: 40px !important;
  padding-left: 44px !important;
}

.footer-menu ul {
  padding-left: 0px;
  margin-right: 74px;
}

.footer-menu li {
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .footer-menu li {
    padding-right: 4px;
  }
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
    padding-left: 0px !important;
  }
}

.footer-socials {
  margin-top: 16px;
  padding: 0px !important;
  padding-top: 12px !important;
}

.footer-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-socials a {
  margin: auto 4px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .footer-socials {
    margin-top: 0px;
  }
}

@media screen and (max-width: 375px), (max-width: 425px) {
  .footer-socials {
    text-align: center;
  }
}
/*# sourceMappingURL=master.css.map */